@import './base.css';

@font-face {   
  font-family: 'Sevillana';   
  font-style: normal;   
  font-weight: 900;   
  src: url('../fonts/Sevillana-Regular.ttf'); 
}
@font-face {   
  font-family: 'DancingScript-VariableFont_wght';   
  font-style: normal;   
  font-weight: 900;   
  src: url('../fonts/DancingScript-VariableFont_wght.ttf'); 
}
@font-face {   
  font-family: 'PlayfairDisplay-VariableFont_wght';   
  font-style: normal;   
  font-weight: 900;   
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf'); 
}
@font-face {   
  font-family: 'Oswald-VariableFont_wght';   
  font-style: normal;   
  font-weight: 900;   
  src: url('../fonts/Oswald-VariableFont_wght.ttf'); 
}

#app {
  margin: 0 auto;
  height: 100%;
  font-family: swald-VariableFont_wght;
}
h1{
  font-family: swald-VariableFont_wght;
}
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #c7d2fe  transparent;
}
.scrollbar-custom::-webkit-scrollbar {
  width: 1px;
}

/* .scrollbar-custom::-webkit-scrollbar-track {
  background: #E2E8F0;
} */

/* .scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #4A5568;
  border-radius: 6px;
  border: 3px solid #E2E8F0;
} */



